.myRequestsContainer {
  margin-top: 5%;
}
.view-request.filled {
  color: #52c41a;
  cursor: pointer;
  text-decoration: underline;
}

.view-request.empty {
  color: #faad14;
  cursor: pointer;
  text-decoration: underline;
}
