.navbar-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #f8f8f8;
}

.navbar-logo {
  cursor: pointer; 
  max-width:13% !important;
  margin-left: 3.5rem;
}

.navbar-menu {
  flex-grow: 1; /* Menünün konteynerin kalan alanını doldurmasını sağlar */
  display: flex;
  justify-content: flex-end; /* Menü öğelerini sağa hizalar */
  background-color: #f8f8f8;
  border-bottom: none;
  margin: 1rem;
}